.logo{
    width: 30px;
    height: 30px;
}

.display-flex{
    display: flex;
}

.nav-container{
    justify-content: space-between;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    justify-items: center;

}


.nav-container a{
 
 text-decoration: none;
 font-size: 1rem;
 color: #3A3A3A;
 font-weight: 600;
}

.li-item{
    list-style: none;
   
}

.nav-container a:hover{
    background-color:gray;
}
.nav-items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 34px;
    align-items: center;
}

.nav-title{
    font-size: 1.25rem;
    font-weight: 700;
}


/* shared item */

.btn-primary{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 15px;
    background-color: #E02C6D;
    color: white;
}

.btn-primary:hover{
    background-color: #3A3A3A;
}




/* banner */

.banner-container{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}


.banner{
    width: 100%;
    max-width: 582px;
    height: 270px;
}


.banner-title{
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-description{
    font-size: 1rem;
    color: gray;
}

.banner-img{
    width: 100%;
    max-width: 440px;
    height: 414px;
   
}
/* brand part */








.brand{
    width: 100%;
    
    max-width: 1110px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    margin-top: 100px;
    border: 2px solid #C0CCDA;
    border-radius: 5px;
    padding: 36px 60px 36px 62px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    
}

/* product */

.collections-img{
    width: 100%;
    max-width: 300px;
    max-height: 256px;
}

.collections-title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
.collection-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}

.collection-container{
    width: 100%;
    max-width: 1047px;
    margin: 0 auto;
    
    
}



.product-cards{
    width: 100%;
    max-width: 329px;
    height: 476px;
    border: 1px solid rgb(207, 206, 206);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px black;
}

.product-cards:hover{
   
    background-color: rgb(146, 163, 168);
    color:white;

}

.product-description:hover{

    color: white;

}






.collections-title{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}




.product-title{
    font-size: 1.75rem;
    font-weight: 600;
    
    height: 40px;
    margin: 0 0 0 0;
    margin-top: 16px;
}

.product-price{
    font-size: 1.5rem;
    font-weight: 200;
    color: #3A3A3A;
    width: 82px;
    height: 36px;
    margin: 0;
}

.product-rattings{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 122px;
    height: 34px;
    margin: 0 0 0 0;
}

.product-description{
    width: 196px;
    height: 61px;
    margin: 0 0 0 0;
    font-size: 1rem;
    font-weight: 700;
    color: grey;
}





/* Responsiveness For Small Devices */

@media screen and (max-width: 576px) {
    .nav-container,.nav-items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
        
    }

   .banner-container{
    flex-direction: column;
    text-align: center;
    }

   .banner{
    margin-left: 30px;
    }

   .banner-title {
    font-size: 1.8rem;
    }

   .btn-primary {
    font-size: 1rem;
    }




  

  
}




