.logo{
    width: 30px;
    height: 30px;
}

.display-flex{
    display: flex;
}

.nav-container{
    justify-content: space-between;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    justify-items: center;

}


.nav-container a{
 
 text-decoration: none;
 font-size: 1rem;
 color: #3A3A3A;
 font-weight: 600;
}

.li-item{
    list-style: none;
   
}

.nav-container a:hover{
    background-color:gray;
}
.nav-items{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 34px;
    align-items: center;
}

.nav-title{
    font-size: 1.25rem;
    font-weight: 700;
}


/* shared item */

.btn-primary{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 15px;
    background-color: #E02C6D;
    color: white;
}

.btn-primary:hover{
    background-color: #3A3A3A;
}




/* banner */

.banner-container{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}


.banner{
    width: 100%;
    max-width: 582px;
    height: 270px;
}


.banner-title{
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-description{
    font-size: 1rem;
    color: gray;
}

.banner-img{
    width: 100%;
    max-width: 440px;
    height: 414px;
   
}
/* brand part */

.brand{
    width: 100%;
    
    max-width: 1110px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    margin-top: 100px;
    border: 2px solid #C0CCDA;
    border-radius: 5px;
    padding: 36px 60px 36px 62px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    
}





/* Responsiveness For Small Devices */

@media screen and (max-width: 576px) {
    .nav-container,.nav-items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
        
    }

   .banner-container{
    flex-direction: column;
    text-align: center;
    }

   .banner{
    margin-left: 30px;
    }

   .banner-title {
    font-size: 1.8rem;
    }

   .btn-primary {
    font-size: 1rem;
    }




  

  
}




